*.class

# Package Files #
*.jar
*.war
*.ear

Minecraft/bin
Minecraft/src/ibxm
Minecraft/src/ibxm
Minecraft/src/net
Minecraft/src/cpw
Minecraft/src/paulscode
Minecraft/src/Start.java
Minecraft/src/fml_at.cfg
Minecraft/src/fml_marker.cfg
Minecraft/src/fmlversion.properties
Minecraft/src/forge_at.cfg
Minecraft/src/forge_logo.png
Minecraft/src/mcp.png
Minecraft/src/mcpmod.info